@use "variables" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 55px;
  color: $color-dark;
  font-size: 20px;
  text-decoration: none;
  background-color: $color-gold;

  &:hover {
    color: $color-white;
  }
}
