@use "variables" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 55px;
  color: $color-dark;
  font-size: 20px;
  text-decoration: none;
  background-color: $color-gold;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $color-white;
  }
}

%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 55px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $color-white;
  }
}

.tab-btn {
  @extend %button;

  color: $color-gold;
  background-color: transparent;
  border: 2px solid $color-gold;

  &--active {
    color: $color-dark;
    background-color: $color-gold;
  }
}
