@use "variables" as *;

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 55px;
  overflow: hidden;
  color: $color-black;
  font-size: 20px;
  text-decoration: none;
  background-color: $color-gold;
  border: none;
  cursor: pointer;
  transition-timing-function: $transition-function-theme;
  transition-duration: $transition-duration-theme;
  transition-property: color, background;

  &:hover {
    color: $color-white;
  }

  &__circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: $color-white;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
  }

  &--main {
    color: var(--color-btn-main);
    background-color: var(--color-bg-btn-main);

    &:hover {
      color: var(--color-btn-main-hover);
      background-color: var(--color-bg-btn-main-hover);
    }

    .button__circle {
      background-color: var(--color-bg-btn-main-active);
    }
  }

  &--secondary {
    color: var(--color-btn-secondary);
    background-color: var(--color-bg-btn-secondary);

    &:hover {
      color: var(--color-btn-secondary-hover);
      background-color: var(--color-bg-btn-secondary-hover);
    }

    .button__circle {
      background-color: var(--color-bg-btn-secondary-active);
    }
  }
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
