@use "variables" as *;

.contacts {
  @media (max-width: $breakpoint-tablet) {
    margin-top: -20px;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    min-height: 700px;
    padding-top: 60px;
    background-image: var(--bg-img-contacts);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    transition-timing-function: $transition-function-theme;
    transition-duration: $transition-duration-theme;
    transition-property: background-position;

    @media (max-width: $breakpoint-tablet) {
      justify-content: center;
      min-height: 600px;
    }

    @media (max-width: $breakpoint-mobile) {
      background-position: left;
    }
  }

  &__content {
    max-width: 100%;
  }

  &__title {
    margin-bottom: 40px;
    line-height: 2;

    @media (max-width: $breakpoint-tablet) {
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    max-width: 100%;
  }

  &__input,
  &__textarea {
    padding: 5px 20px;
    color: $color-white;
    font-size: 20px;
    line-height: 2;
    background: var(--color-bg-input);
    border: none;
    outline: 2px solid var(--color-border);
    outline-offset: -2px;
  }

  &__input::placeholder,
  &__textarea::placeholder {
    color: var(--color-input-placeholder);
    font-size: 20px;
    opacity: 1;
  }

  &__textarea {
    height: 100px;
    margin-bottom: 10px;
    resize: none;
  }

  &__submit {
    @media (max-width: $breakpoint-tablet) {
      align-self: center;
    }
  }
}
