@use "variables" as *;

.footer {
  font-size: 20px;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-block: 50px;

    @media (max-width: $breakpoint-tablet) {
      padding-block: 28px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
    }
  }

  &__copyright {
    display: flex;
    gap: 20px;
  }

  &__rs-school {
    @media (min-width: ($breakpoint-tablet + 1px)) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__copyright,
  &__rs-school {
    line-height: 2.5;

    @media (max-width: $breakpoint-tablet) {
      line-height: 24px;
    }
  }

  &__socials {
    &-list {
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
      list-style: none;

      @media (max-width: $breakpoint-tablet) {
        margin-top: 4px;
        padding-block: 9px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
    }
  }
}
