.footer {
  font-size: 20px;
  line-height: 2.5;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-block: 50px;
  }

  &__copyright {
    display: flex;
    gap: 20px;
  }

  &__socials-list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
