.footer {
  font-size: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-block: 50px;
  }

  &__copyright {
    display: flex;
    gap: 20px;
  }

  &__copyright,
  &__rs-school {
    line-height: 2.5;
  }

  &__socials {
    &-list {
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      display: flex;
      align-items: center;
    }
  }
}
