@use "variables" as *;

.header {
  &__content {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-block: 20px;
  }

  &__nav {
    margin-left: auto;
    font-size: 20px;
    line-height: 50px;
  }

  &__nav-list {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__lang-toggler {
    display: flex;
    gap: 9px;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
  }

  &__lang-btn {
    padding: 0;
    color: $color-white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-gold;
    }

    &--active {
      color: $color-gold;
    }

    &--active:hover {
      color: $color-white;
    }
  }
}
