@use "sass:math";
@use "variables" as *;

.header {
  position: relative;

  &__content {
    display: flex;
    gap: 31px;
    align-items: center;
    padding-block: 20px;
  }

  &__nav {
    margin-left: auto;
    font-size: 20px;
    line-height: 50px;
  }

  &__nav-list {
    display: flex;
    gap: 31px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__lang-toggler {
    display: flex;
    gap: 9px;
    margin-right: -1px;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
  }

  &__lang-btn {
    padding: 0;
    color: $color-white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-gold;
    }

    &--active {
      color: $color-gold;
    }

    &--active:hover {
      color: $color-white;
    }
  }

  &__nav-toggle {
    display: none;
  }

  &__toggle-bar {
    width: 100%;
    height: 3px;
    background-color: $color-white;
    transition: all 0.3s ease-in-out;
  }

  @media (max-width: $breakpoint-tablet) {
    &__nav {
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 620px;
      height: 100vh;
      padding: 134px 64px 20px 127px;
      background-color: $color-dark;
      transition: all 0.3s ease-in-out;
    }

    &__nav-toggle {
      position: absolute;
      right: 64px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    &__nav-list {
      display: none;
      flex-direction: column;
      gap: 16px;
      font-size: 34.8235px;
      line-height: 73px;
    }

    &__lang-toggler {
      margin-right: 74px;
      margin-left: auto;
    }

    &__nav--active {
      right: 0;
      transition: all 0.3s ease-in-out;
    }

    &__nav-toggle--active {
      align-self: flex-end;

      .header__toggle-bar:nth-child(1) {
        height: 2px;
        transform: scale(0.9) scale(math.sqrt(2)) translateY(10px) rotate(45deg);
      }

      .header__toggle-bar:nth-child(2) {
        opacity: 0;
      }

      .header__toggle-bar:nth-child(3) {
        height: 2px;
        transform: scale(0.9) scale(math.sqrt(2)) translateY(-10px) rotate(-45deg);
      }
    }

    &__nav-list--active {
      display: flex;
    }
  }
}
