@use "variables" as *;

.hero {
  &__content {
    margin-top: -90px;
    padding: 250px 80px 330px;
    background-image: url("../assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 910px;

    @media (max-width: $breakpoint-tablet) {
      padding: 168px 60px 152px;
      background-image: url("../assets/img/bg-touch.jpg");
      background-position: center top;
      background-size: auto 590px;
    }

    @media (max-width: $breakpoint-mobile) {
      background-position: right top;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
    font-family: $font-title;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 32px;
      line-height: 2;
    }
  }

  &__about {
    max-width: 470px;
    margin: 0;
    margin-bottom: 25px;
    font-size: 20px;

    @media (max-width: $breakpoint-tablet) {
      max-width: 390px;
      margin-bottom: 60px;
    }
  }
}
