@use "variables" as *;

.hero {
  &__content {
    height: 910px;
    margin-top: -90px;
    padding-top: 250px;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $breakpoint-tablet) {
      height: auto;
      min-height: 590px;
      padding-top: 168px;
      background-image: url("../img/bg-touch.jpg");
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
    font-family: $font-title;

    @media (min-width: ($breakpoint-tablet + 1px)) {
      margin-left: 60px;
    }

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 32px;
      line-height: 2;
    }
  }

  &__about {
    max-width: 470px;
    margin: 0;
    margin-bottom: 25px;
    font-size: 20px;

    @media (min-width: ($breakpoint-tablet + 1px)) {
      margin-left: 60px;
    }

    @media (max-width: $breakpoint-tablet) {
      max-width: 390px;
      margin-bottom: 60px;
    }
  }

  &__btn {
    @media (min-width: ($breakpoint-tablet + 1px)) {
      margin-left: 60px;
    }
  }
}
