@use "variables" as *;

.link {
  color: $color-white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $color-gold;
  }

  &--icon {
    display: block;
  }

  &__svg {
    vertical-align: middle;
  }

  &__svg,
  &__svg-path {
    transition: all 0.2s ease-in-out;
  }

  &__svg:hover,
  &__svg-path:hover {
    fill: $color-gold;
  }
}
