@use "variables" as *;

.link {
  color: $color-white;
  text-decoration: none;

  &:hover {
    color: $color-gold;
  }

  &--icon {
    display: inline-block;
  }

  &__svg {
    vertical-align: middle;
  }

  &__svg:hover,
  &__svg:hover path {
    fill: $color-gold;
  }
}
