@use "variables" as *;

.portfolio {
  &__tabs {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;

    @media (max-width: $breakpoint-tablet) {
      flex-wrap: wrap;
    }
  }

  &__tab-pane {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }

  &__img {
    width: 450px;
    max-width: 100%;
    height: auto;
  }
}
