@use "variables" as *;
@use "general" as *;

.skills {
  &__title {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .section__title;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 45px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    list-style: none;

    @media (max-width: $breakpoint-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint-desktop-sm) {
      gap: 37px 44px;
      padding-bottom: 40px;
    }

    @media (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 100px 20px 8px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 0;

    @media (max-width: $breakpoint-tablet) {
      padding: 80px 10px 40px;
    }

    &--icon {
      &--camera {
        background-image: url("../img/icons/camera-icon.svg");
      }

      &--video {
        background-image: url("../img/icons/video-icon.svg");
      }

      &--image {
        background-image: url("../img/icons/image-icon.svg");
      }

      &--mic {
        background-image: url("../img/icons/mic-icon.svg");
      }
    }
  }

  &__item-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;

    @media (max-width: $breakpoint-tablet) {
      line-height: 2;
    }
  }

  &__item-text {
    margin: 0;

    @media (max-width: $breakpoint-tablet) {
      line-height: 21.78px;
    }
  }
}
