@use "variables" as *;

.theme-toggle {
  &__checkbox {
    display: none;
  }

  &__label {
    display: block;
    width: 45px;
    height: 45px;
    background-image: url("../assets/svg/theme-sprite.svg#sun");
    background-position: center center;
    cursor: pointer;
    transition-timing-function: $transition-function-theme;
    transition-duration: $transition-duration-theme;
    transition-property: background, filter;

    &:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    }
  }

  &__checkbox:checked ~ &__label {
    background-image: url("../assets/svg/theme-sprite.svg#moon");
  }
}
