// ------ Colors -------

$color-dark: #000000;
$color-gold: #bdae82;
$color-white: #ffffff;

// ------ Fonts -------

$font-main: "Inter", sans-serif;
$font-title: "Merriweather", serif;

// ------ Breakponts -------

$breakpoint-desktop: 1200px;
$breakpoint-desktop-sm: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

// ------ Gaps and paddings -------

:root {
  --paddinginline-container: 20px;
}

@media (min-width: ($breakpoint-mobile + 1px)) and (max-width: $breakpoint-tablet) {
  :root {
    --paddinginline-container: 60px;
  }
}
