// ------ Colors -------

$color-black: #000000;
$color-gold: #bdae82;
$color-white: #ffffff;
$color-matteblack: #1c1c1c;

// ------ Fonts -------

$font-main: "Inter", sans-serif;
$font-title: "Merriweather", serif;

// ------ Breakponts -------

$breakpoint-desktop: 1200px;
$breakpoint-desktop-sm: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

// ------ Theme transition -------

$transition-duration-theme: 0.3s;
$transition-function-theme: ease-in;
