/* ------ Colors ------- */

$color-bg-dark: #000000;
$color-gold: #bdae82;
$color-white: #ffffff;

/* ------ Fonts ------- */

$font-main: "Inter", sans-serif;
$font-section-title: "Merriweather", serif;
