@use "variables" as *;

.video-player {
  position: relative;
  width: 100%;
  aspect-ratio: 1400 / 705;
  background-image: url("../img/video-player.jpg");
  background-size: cover;

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &-svg {
      vertical-align: middle;
    }

    &:hover &-svg,
    &:hover &-path {
      fill: $color-gold;
    }
  }
}
