@use "variables" as *;

.video {
  &__container {
    @media (max-width: $breakpoint-tablet) {
      padding-inline: 0;
    }
  }
}

.video-player {
  position: relative;
  width: 100%;
  aspect-ratio: 1400 / 705;
  background-image: url("../img/video-player.jpg");
  background-size: cover;

  @media (max-width: $breakpoint-tablet) {
    aspect-ratio: 768 / 418;
    background-image: url("../img/video-player-tablet.jpg");
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &-svg {
      vertical-align: middle;

      @media (max-width: $breakpoint-tablet) {
        width: 64.62px;
      }
    }

    &-svg,
    &-path {
      transition: all 0.2s ease-in-out;
    }

    &:hover &-svg,
    &:hover &-path {
      fill: $color-gold;
    }
  }
}
