:root {
  --paddinginline-container: 20px;
  --height-video-progress: 17px;
  --height-video-progress-inner: 5px;
  --height-video-controls: 60px;
  --size-video-control-btn: 30px;
  --gap-controls: 30px;
}
@media (max-width: 768px) {
  :root {
    --paddinginline-container: 60px;
  }
}
@media (max-width: 480px) {
  :root {
    --paddinginline-container: 20px;
    --height-video-controls: 40px;
    --size-video-control-btn: 20px;
  }
}

:root {
  --color-bg: #000000;
  --bg-img-hero: url("../assets/img/dark/hero-bg.jpg");
  --bg-img-hero-touch: url("../assets/img/dark/hero-bg-touch.jpg");
  --bg-img-contacts: url("../assets/img/dark/contacts-bg.jpg");
  --color-text: #ffffff;
  --color-title: #bdae82;
  --color-link: #ffffff;
  --color-link-hover: #bdae82;
  --color-lang: #ffffff;
  --color-lang-hover: #bdae82;
  --color-lang-active: #bdae82;
  --color-btn-main: #000000;
  --color-btn-main-hover: #ffffff;
  --color-bg-btn-main: #bdae82;
  --color-bg-btn-main-hover: #bdae82;
  --color-bg-btn-main-active: #ffffff;
  --color-btn-secondary: #000000;
  --color-btn-secondary-hover: #ffffff;
  --color-bg-btn-secondary: #bdae82;
  --color-bg-btn-secondary-hover: #bdae82;
  --color-bg-btn-secondary-active: #ffffff;
  --color-tab: #bdae82;
  --color-tab-hover: #ffffff;
  --color-bg-tab: transparent;
  --color-bg-tab-hover: transparent;
  --color-tab-circle: #bdae82;
  --color-tab-active: #000000;
  --color-bg-tab-active: #bdae82;
  --color-nav-link-hover: #bdae82;
  --color-nav-backdrop: rgba(0 0 0 / 50%);
  --color-input-placeholder: #bdae82;
  --color-bg-input: rgba(0 0 0 / 50%);
  --color-border: #bdae82;
  --color-bg-header-fixed: rgba(0 0 0 / 70%);
  --color-bg-controls: rgba(0 0 0 / 70%);
  --color-bg-video-progress: rgba(255 255 255 / 20%);
  --color-video-progress: #bdae82;
  --color-volume-before-thumb: #ffffff;
  --color-volume-after-thumb: rgba(255 255 255 / 50%);
}

body.light-theme {
  --color-bg: #ffffff;
  --bg-img-hero: url("../assets/img/light/hero-bg.jpg");
  --bg-img-hero-touch: url("../assets/img/light/hero-bg-touch.jpg");
  --bg-img-contacts: url("../assets/img/light/contacts-bg.jpg");
  --color-text: #1c1c1c;
  --color-title: #1c1c1c;
  --color-link: #1c1c1c;
  --color-link-hover: #bdae82;
  --color-lang: #1c1c1c;
  --color-lang-hover: #ffffff;
  --color-lang-active: #ffffff;
  --color-btn-main: #1c1c1c;
  --color-btn-main-hover: #bdae82;
  --color-bg-btn-main: #ffffff;
  --color-bg-btn-main-hover: #1c1c1c;
  --color-bg-btn-main-active: #bdae82;
  --color-btn-secondary: #1c1c1c;
  --color-btn-secondary-hover: #bdae82;
  --color-bg-btn-secondary: #bdae82;
  --color-bg-btn-secondary-hover: #1c1c1c;
  --color-bg-btn-secondary-active: #bdae82;
  --color-tab: #1c1c1c;
  --color-tab-hover: #bdae82;
  --color-bg-tab: #bdae82;
  --color-bg-tab-hover: #1c1c1c;
  --color-tab-circle: #bdae82;
  --color-tab-active: #bdae82;
  --color-bg-tab-active: #1c1c1c;
  --color-nav-link-hover: #ffffff;
  --color-nav-backdrop: rgba(0 0 0 / 30%);
  --color-input-placeholder: #1c1c1c;
  --color-bg-input: rgba(255 255 255 / 50%);
  --color-border: #bdae82;
  --color-bg-header-fixed: rgba(189 174 130 / 70%);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--color-text);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 2;
  background-color: var(--color-bg);
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: color, background;
}
@media (max-width: 768px) {
  body {
    line-height: 1.2;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.main {
  padding-block: 50px;
  margin-bottom: auto;
}

.container {
  box-sizing: border-box;
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: var(--paddinginline-container);
}

.title {
  margin: 0;
  color: var(--color-title);
  font-size: 40px;
  font-family: "Merriweather", serif;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: color;
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.section {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .section {
    padding-top: 80px;
  }
}
@media (max-width: 480px) {
  .section {
    padding-top: 30px;
  }
}
.section__title {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 700px;
  margin-inline: auto;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .section__title {
    max-width: 364px;
    margin-bottom: 50px;
    line-height: 80px;
  }
}
.section__title::before, .section__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-title);
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: background;
}
@media (max-width: 480px) {
  .section__title::before, .section__title::after {
    height: 0;
  }
}

@media (max-width: 768px) {
  .video__container {
    padding-inline: 0;
  }
}

.link {
  display: inline-block;
  color: var(--color-link);
  text-decoration: none;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: color;
}
.link:hover {
  color: #bdae82;
}
.link--icon {
  display: block;
}
.link__svg {
  vertical-align: middle;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: fill;
  fill: var(--color-link);
}
.link--icon:hover .link__svg {
  fill: #bdae82;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: var(--height-video-controls);
}
.controls__background {
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 300%;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.2) 60%, transparent 100%);
  opacity: 0;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
}
.controls__inner {
  display: flex;
  gap: var(--gap-controls);
  align-items: center;
  width: 100%;
  padding-inline: 30px;
}
.controls__btn {
  min-width: var(--size-video-control-btn);
  height: var(--size-video-control-btn);
  padding: 0;
  font: inherit;
  background: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: filter 0.1s ease-in;
}
.controls__btn:hover {
  filter: brightness(130%);
}

.progress {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 5px;
  border: none;
  cursor: pointer;
}
.progress__inner {
  width: 100%;
  height: 100%;
  max-height: var(--height-video-progress-inner);
  background: var(--color-bg-video-progress);
}
.progress__filled {
  position: relative;
  width: 0;
  height: 100%;
  background-color: var(--color-video-progress);
}
.progress__filled::after {
  position: absolute;
  top: calc(-1 * (var(--height-video-progress) - var(--height-video-progress-inner)) / 2);
  right: 0;
  display: block;
  content: "";
  width: var(--height-video-progress);
  background-color: var(--color-video-progress);
  border-radius: 50%;
  transform: translateX(50%);
  opacity: 0;
  transition: opacity 0.2s ease;
  aspect-ratio: 1/1;
}
.progress:hover .progress__filled::after {
  opacity: 1;
}

.play-btn {
  background-image: url("../assets/svg/pause.svg");
}
.play-btn--paused {
  background-image: url("../assets/svg/play.svg");
}

.volume-btn {
  background-image: url("../assets/svg/volume.svg");
}
.volume-btn--muted {
  background-image: url("../assets/svg/mute.svg");
}

.volume-range {
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  margin: 0;
  border: none;
  border-radius: 1px;
  outline: none;
  -webkit-appearance: none;
}
.volume-range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}
.volume-range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.volume-controls {
  display: flex;
  gap: calc(var(--gap-controls) / 2);
  align-items: center;
  box-sizing: border-box;
  width: var(--size-video-control-btn);
  overflow: hidden;
  transition: width 0.3s ease-in;
}
.volume-controls:hover {
  width: 150px;
}
.volume-controls__range {
  margin-right: 1em;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.volume-controls:hover .volume-controls__range {
  opacity: 1;
}

.timer {
  display: flex;
  gap: 10px;
  opacity: 0.8;
}

.fullscreen-btn {
  margin-left: auto;
  background-image: url("../assets/svg/fullscreen.svg");
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1400/705;
}
.video-player__video {
  display: block;
  width: 100%;
}
.video-player__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in;
  pointer-events: none;
}
.video-player__shadow--visible {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2) inset;
}
.video-player:hover .video-player__shadow {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2) inset;
}
.video-player__controls {
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform: translateY(100%) translateY(calc((var(--height-video-progress) - var(--height-video-progress-inner)) / 2));
  transition: transform 0.3s ease-in;
}
.video-player__controls--fixed {
  transform: translateY(0);
}
.video-player:hover .video-player__controls {
  transform: translateY(0);
}
.video-player__controls--fixed .controls__background, .video-player:hover .controls__background {
  opacity: 1;
}
.video-player__progress {
  align-self: flex-start;
  margin-top: calc(-1 * (var(--height-video-progress) + var(--height-video-progress-inner)) / 2);
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: height;
}
.video-player:hover .video-player__progress, .video-player__progress--fixed {
  height: var(--height-video-progress);
}
.video-player__poster {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/video-poster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.video-player__poster--hidden {
  display: none;
}
@media (max-width: 768px) {
  .video-player__poster {
    background-image: url("../assets/img/video-poster-tablet.jpg");
  }
}
.video-player__play {
  content: "";
  position: absolute;
  z-index: 1;
  display: none;
  width: 150px;
  height: 150px;
  background-image: url("../assets/svg/play-btn.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: filter 0.1s ease-in;
}
.video-player__play:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.video-player__play--visible {
  display: block;
}
@media (max-width: 768px) {
  .video-player__play {
    width: 64.62px;
    height: 64.62px;
  }
}
@media (max-width: 480px) {
  .video-player__play {
    width: 50px;
    height: 50px;
  }
}

.footer__content {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__rsschool {
  margin-left: auto;
}
.footer__rsschool-link {
  padding: 5px;
  background-color: var(--color-text);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.footer__rsschool-link:hover {
  transform: scale(1.05);
}
.footer__rsschool-img {
  display: block;
}/*# sourceMappingURL=index.css.map */