*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 2;
  background-color: #000000;
}
@media (max-width: 768px) {
  body {
    line-height: 1.2;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 20px;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .container {
    padding-inline: 60px;
  }
}

.title {
  margin: 0;
  color: #bdae82;
  font-size: 40px;
  font-family: "Merriweather", serif;
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.section {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .section {
    padding-top: 80px;
  }
}
.section__title, .skills__title {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 700px;
  margin-inline: auto;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .section__title, .skills__title {
    max-width: 364px;
    margin-bottom: 50px;
    line-height: 80px;
  }
}
.section__title::before, .skills__title::before, .section__title::after, .skills__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #bdae82;
}

.link {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.link:hover {
  color: #bdae82;
}
.link--icon {
  display: block;
}
.link__svg {
  vertical-align: middle;
}
.link__svg, .link__svg-path {
  transition: all 0.2s ease-in-out;
}
.link--icon:hover .link__svg, .link--icon:hover .link__svg-path {
  fill: #bdae82;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 55px;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  background-color: #bdae82;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  color: #ffffff;
}
.button:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.tab-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 55px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.tab-btn:hover {
  color: #ffffff;
}
.tab-btn:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.tab-btn {
  color: #bdae82;
  background-color: transparent;
  border: 2px solid #bdae82;
}
.tab-btn--active {
  color: #000000;
  background-color: #bdae82;
}

.header__content {
  display: flex;
  gap: 31px;
  align-items: center;
  padding-block: 20px;
}
.header__nav {
  margin-left: auto;
  font-size: 20px;
  line-height: 50px;
}
.header__nav-list {
  display: flex;
  gap: 31px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__lang-toggler {
  display: flex;
  gap: 9px;
  margin-right: -1px;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
}
.header__lang-btn {
  padding: 0;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.header__lang-btn:hover {
  color: #bdae82;
}
.header__lang-btn--active {
  color: #bdae82;
}
.header__lang-btn--active:hover {
  color: #ffffff;
}

.hero__content {
  height: 910px;
  margin-top: -90px;
  padding-top: 250px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 768px) {
  .hero__content {
    height: auto;
    min-height: 590px;
    padding-top: 168px;
    background-image: url("../img/bg-touch.jpg");
  }
}
.hero__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 60px;
  font-family: "Merriweather", serif;
}
@media (min-width: 769px) {
  .hero__name {
    margin-left: 60px;
  }
}
@media (max-width: 768px) {
  .hero__name {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 32px;
    line-height: 2;
  }
}
.hero__about {
  max-width: 470px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 20px;
}
@media (min-width: 769px) {
  .hero__about {
    margin-left: 60px;
  }
}
@media (max-width: 768px) {
  .hero__about {
    max-width: 390px;
    margin-bottom: 60px;
  }
}
@media (min-width: 769px) {
  .hero__btn {
    margin-left: 60px;
  }
}

.skills__title {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
}
@media (max-width: 768px) {
  .skills__title {
    margin-bottom: 45px;
  }
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  list-style: none;
}
@media (max-width: 768px) {
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 44px;
    padding-bottom: 40px;
  }
}
.skills__item {
  padding: 100px 20px 8px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
@media (max-width: 768px) {
  .skills__item {
    padding: 80px 10px 40px;
  }
}
.skills__item--icon--camera {
  background-image: url("../img/icons/camera-icon.svg");
}
.skills__item--icon--video {
  background-image: url("../img/icons/video-icon.svg");
}
.skills__item--icon--image {
  background-image: url("../img/icons/image-icon.svg");
}
.skills__item--icon--mic {
  background-image: url("../img/icons/mic-icon.svg");
}
.skills__item-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .skills__item-title {
    line-height: 2;
  }
}
.skills__item-text {
  margin: 0;
}
@media (max-width: 768px) {
  .skills__item-text {
    line-height: 21.78px;
  }
}

.portfolio__tabs {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .portfolio__tabs {
    flex-wrap: wrap;
  }
}
.portfolio__tab-pane {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.portfolio__img {
  max-width: 450px;
}

@media (max-width: 768px) {
  .video__container {
    padding-inline: 0;
  }
}

.video-player {
  position: relative;
  width: 100%;
  aspect-ratio: 1400/705;
  background-image: url("../img/video-player.jpg");
  background-size: cover;
}
@media (max-width: 768px) {
  .video-player {
    aspect-ratio: 768/418;
    background-image: url("../img/video-player-tablet.jpg");
  }
}
.video-player__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.video-player__btn-svg {
  vertical-align: middle;
}
@media (max-width: 768px) {
  .video-player__btn-svg {
    width: 64.62px;
  }
}
.video-player__btn-svg, .video-player__btn-path {
  transition: all 0.2s ease-in-out;
}
.video-player__btn:hover .video-player__btn-svg, .video-player__btn:hover .video-player__btn-path {
  fill: #bdae82;
}

.price__container {
  padding-bottom: 100px;
}
.price__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.price__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  min-height: 505px;
  border: 3px solid #bdae82;
  padding-block: 40px;
}
.price__item-title {
  margin: 0;
  font-size: 28px;
  font-family: "Merriweather", serif;
}
.price__item-cost {
  color: #bdae82;
  font-weight: 700;
  font-size: 24px;
  font-family: "Merriweather", serif;
}
.price__item-features {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  list-style: none;
}

.contacts__container {
  display: flex;
  justify-content: flex-end;
  min-height: 700px;
  padding-top: 60px;
  background-image: url("../img/contacts-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.contacts__title {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .contacts__title {
    line-height: 2;
  }
}
.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
}
.contacts__input, .contacts__textarea {
  padding: 5px 20px;
  color: #ffffff;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: 2px solid #bdae82;
  outline-offset: -2px;
}
.contacts__input::-moz-placeholder, .contacts__textarea::-moz-placeholder {
  color: #bdae82;
  font-size: 20px;
}
.contacts__input:-ms-input-placeholder, .contacts__textarea:-ms-input-placeholder {
  color: #bdae82;
  font-size: 20px;
}
.contacts__input::placeholder, .contacts__textarea::placeholder {
  color: #bdae82;
  font-size: 20px;
}
.contacts__textarea {
  height: 100px;
  margin-bottom: 10px;
  resize: none;
}

.footer {
  font-size: 20px;
}
.footer__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-block: 50px;
}
.footer__copyright {
  display: flex;
  gap: 20px;
}
.footer__rs-school {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.footer__copyright, .footer__rs-school {
  line-height: 2.5;
}
.footer__socials-list {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__socials-item {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=index.css.map */